@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: IRANYekanX;
    font-style: normal;
    font-weight: 100;
    src: url('/fonts/IRANYekanX/woff/IRANYekanX-Thin.woff') format('woff'),
    url('/fonts/IRANYekanX/woff2/IRANYekanX-Thin.woff2') format('woff2');
  }

  @font-face {
    font-family: IRANYekanX;
    font-style: normal;
    font-weight: 200;
    src: url('/fonts/IRANYekanX/woff/IRANYekanX-UltraLight.woff') format('woff'),
    url('/fonts/IRANYekanX/woff2/IRANYekanX-UltraLight.woff2') format('woff2');
  }

  @font-face {
    font-family: IRANYekanX;
    font-style: normal;
    font-weight: 300;
    src: url('/fonts/IRANYekanX/woff/IRANYekanX-Light.woff') format('woff'),
    url('/fonts/IRANYekanX/woff2/IRANYekanX-Light.woff2') format('woff2');
  }

  @font-face {
    font-family: IRANYekanX;
    font-style: normal;
    font-weight: 500;
    src: url('/fonts/IRANYekanX/woff/IRANYekanX-Medium.woff') format('woff'),
    url('/fonts/IRANYekanX/woff2/IRANYekanX-Medium.woff2') format('woff2');
  }

  @font-face {
    font-family: IRANYekanX;
    font-style: normal;
    font-weight: 600;
    src: url('/fonts/IRANYekanX/woff/IRANYekanX-DemiBold.woff') format('woff'),
    url('/fonts/IRANYekanX/woff2/IRANYekanX-DemiBold.woff2') format('woff2');
  }

  @font-face {
    font-family: IRANYekanX;
    font-style: normal;
    font-weight: 800;
    src: url('/fonts/IRANYekanX/woff/IRANYekanX-ExtraBold.woff') format('woff'),
    url('/fonts/IRANYekanX/woff2/IRANYekanX-ExtraBold.woff2') format('woff2');
  }

  @font-face {
    font-family: IRANYekanX;
    font-style: normal;
    font-weight: 900;
    src: url('/fonts/IRANYekanX/woff/IRANYekanX-Black.woff') format('woff'),
    url('/fonts/IRANYekanX/woff2/IRANYekanX-Black.woff2') format('woff2');
  }

  @font-face {
    font-family: IRANYekanX;
    font-style: normal;
    font-weight: 950;
    src: url('/fonts/IRANYekanX/woff/IRANYekanX-ExtraBlack.woff') format('woff'),
    url('/fonts/IRANYekanX/woff2/IRANYekanX-ExtraBlack.woff2') format('woff2');
  }

  @font-face {
    font-family: IRANYekanX;
    font-style: normal;
    font-weight: 1000;
    src: url('/fonts/IRANYekanX/woff/IRANYekanX-Heavy.woff') format('woff'),
    url('/fonts/IRANYekanX/woff2/IRANYekanX-Heavy.woff2') format('woff2');
  }

  @font-face {
    font-family: IRANYekanX;
    font-style: normal;
    font-weight: bold;
    src: url('/fonts/IRANYekanX/woff/IRANYekanX-Bold.woff') format('woff'),
    url('/fonts/IRANYekanX/woff2/IRANYekanX-Bold.woff2') format('woff2');
  }

  @font-face {
    font-family: IRANYekanX;
    font-style: normal;
    font-weight: normal;
    src: url('/fonts/IRANYekanX/woff/IRANYekanX-Regular.woff') format('woff'),
    url('/fonts/IRANYekanX/woff2/IRANYekanX-Regular.woff2') format('woff2');
  }
}


body {
    font-family: IRANYekanX, sans-serif;
}


.page {
  @apply w-[210mm] h-[297mm] bg-white mb-2
}

@media print {
  header {
    display: none;
  }

  @page {
    size: A4;
    margin: 0;
  }

  .page {
    page-break-before: always;
    margin-bottom: 0;
  }
}
